@import '@fontsource/fira-mono';
@import 'normalize.css';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
}

:root {
	--app-background: rgba(52, 53, 65, 1);
	--app-text-color: white;

	--intro-background: #191b21;

	/* LHS Panel */
	--panel-background: rgba(32, 33, 35, 1);

	/* Messages */
	--message-spacing: 16px;
	--message-text-color: rgba(236, 236, 241, 1);
	--message-link-color: rgba(236, 236, 241, 1);
	--message-user-background: var(--app-background);
	--message-assistant-background: rgba(68, 70, 84, 1);
	--code-block-font: var(--font-mono);
	--code-block-background: black;

	/* Chat input */
	--chat-input-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	--chat-input-background: rgba(64, 65, 79, 1);
}

body {
	background-color: var(--app-background);
	color: var(--app-text-color);
}

button {
	background: #5d61ed;
	border: 0px;
	padding: 8px 12px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
button[disabled] {
	background: #a2a3d1;
	cursor: not-allowed;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.s-4 {
	width: 16px;
	height: 16px;
}
